.container {
	margin: 100px auto;

	width: 500px;
	display: flex;
	justify-content: space-between;
}
.box-grid {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(5, 80px);
	gap: 2px;
}

.cell {
	width: 80px;
	height: 80px;
	background-color: rgb(236, 25, 25);
	border: 1px solid #858585;
}
.button {
	height: 30px;
}
.cell.active {
	background-color: black;
}
